<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="/home">Employee Portal</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a routerLink="/home" routerLinkActive="active" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"routerLink="/employeeList" routerLinkActive="active">Employee List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/employeeRegistration" routerLinkActive="active">Employee Registration</a>
      </li>     
    </ul>    
  </div>
</nav>